.filter-component {
    margin: 25px;
    padding: 25px;
    border: 1px solid white;
    border-radius: 5px;
}

.filter-component-title {
    margin-bottom: 25px;
}

.filter-component-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}