body {
    font-family: sans-serif;
    background: black;
    color: white;
}

.page {
    padding: 20px;
}

.header {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 25px;
}

.header > div {
    border-left: 2px solid #000;
    width: 100%;
    padding-left: 10px;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid white;
    padding: 5px;
    margin-top: 15px;
}

.line-content {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-top: 5px;
}

.line-content > div:nth-child(1) {
    width: 20%;
}

.line-content > div {
    justify-content: left;
}

.line-content > div:nth-child(2) {
    width: 21%;
}

.line-content > div:nth-child(3) {
    width: 20%;
}

.line-content > div:nth-child(4) {
    width: 22%;
}


.line > div {
    border-left: 2px solid #000;
    width: 100%;
    padding-left: 10px;
}

body {
    background-color: #000000;
    font-family: sans-serif;
}

* {
    color: #ffffff !important;
    font-weight: 600 !important;
}

fieldset {
    border-color: #ffffff !important;
}

.Mui-focused {
    color: #ffffff !important;
}

label {
    font-style: italic;
}

.submit {
    background-color: transparent !important;
    border: 2px solid #ffffff !important;
}

.divider {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.58);
    margin: 10px 2px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #000000;
    border: 2px solid #ffffff;
    padding: 25px 10px;
}

.modal:focus-visible {
    outline: none !important;
}

.outlined-circle {
    border-radius: 100%;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.base-NumberInput-root {
    display: flex;
    justify-content: center;
}

.base-NumberInput-input {
    background-color: #000000;
    border: 2px solid #ffffff !important;
    color: white !important;
}

.input-base {
    display: flex;
}

.base-NumberInput-incrementButton {
    background: transparent;
    border-radius: 5px;
}

.base-NumberInput-decrementButton {
    background: transparent;
    border-radius: 5px;
}

.login-container > button {
    border: 5px solid white !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    font-size: 20px;
    background: transparent;
    width: 250px;
    border-radius: 50px;
}

.MuiAutocomplete-popper .MuiAutocomplete-option {
    background: black !important;
    padding: 25px;
    border: 1px solid white !important;
}

.base-Popper-root {
    border: 1px solid red;
    background: black !important;
}
