.modal-component-body {
    background: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
}

.modal-component-body > .filter-component {
    margin: 25px;
    padding: 25px;
    border-radius: 5px;
    display: flex;
    height: 250px;
}

.modal-component-body > .filter-component-title {
    margin-bottom: 25px;
}

.modal-component-body > .filter-component > .filter-component-body {
    display: flex;
    flex-direction: inherit !important;
    justify-content: space-between;
    flex-flow: row wrap;
}